# created by virtualenv automatically
../.Rhistory

# Ignore the virtual environment
.venv

# Ignore .env file with sensitive data
wallet_pln/.env

# Ignore PyCache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/